.form {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding-bottom: 10px;
}

.sign {
  padding-top: 40px;
  color: #2853a1;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.input {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #2853a1, #1345a1);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #2853a1;
  padding-top: 15px;
}

.err-msg {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 1px;
  text-align: center;
}

.message {
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.err {
  color: red;
}

.success {
  color: #28a150;
}

.signup a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #2853a1;
  text-decoration: none;
}

.label-input {
  text-align: center;
  display: block;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}
