.cards {
  margin: 25px 25px;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px #023e8a solid;
  background-color: white;
}

.cardHeader {
  height: 30%;
  background: #023e8a;
  color: white;
  text-align: center;
}

.cardContainer {
  padding: 2px 16px;
}

body {
  background: #e4eefa;
}

.searchBox {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 20px;
  width: 70%;
}

.searchbar {
  width: 100%;
  display: flex;
}

.searchinput {
  width: 70%;
}

.actionContainer {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.btnAdd {
  text-decoration-color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 10px;
}

.actions-buttons a {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  color: whitesmoke;
}

.takeQuizBtn {
  text-decoration-color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 10px;
  text-align: center;
}

.editBtn {
  background-color: rgb(75, 75, 211);
}

.delBtn {
  padding: 5px 10px;
  background-color: rgb(236, 43, 25);
  color: white;
}

.takequiz {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
