@import "./form.css";
@import "./navigation.css";
@import "./quiz.css";
@import "./table.css";

:root {
  --bg: #3e91df;
  --bg-accent: #5e73e9;
  --text-color: #121213;
  --nav-size: 60px;
  --border: 1px solid #3e91df;
  --border-radius: 8px;
  --speed: 500ms;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Ubuntu", sans-serif;
}
